.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.track-form {
  margin: 40px 35px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f4f6;
}

.select-label {
  margin-bottom: 5px;
  color: #41b5e8;
}

.track-form input,
.track-form select {
  margin-bottom: 10px;
  height: 30px;
}
